.card-container {
  display: flex;
  flex-flow: row wrap;

  .card {
    width: 300px;
    margin: 5px;
    background-color: #d1fcf5;
    // background-color: #DADDD8;
    // background-color: #E4FDE1; 
  }

  .card-body {
    flex: none;
  }
}
